.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--primary);
}

.nav-bar {
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--primary);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Reenie Beanie';
    font-size: 4rem;
}

.nav-bar .nav-links {
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li {
    margin: 0 1rem;
}

.nav-links li a {
    position: relative;
    padding: 1rem;
}

.nav-icons {
    display: flex;
    align-items: center;
}

.nav-icons .user,
.nav-icons .bag,
.nav-icons .burger {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    background-color: red;
}