header nav {
    height: 7rem;
    width: 100vh;
    align-content: center;
    z-index: 10;
}

.nav-bar {
    background-color: var(--primary);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    box-shadow: black 0px 1px 6px 0px;
}

.sidebar-open {
    display: none;
    cursor: pointer;
    padding: 5px;
}

.logo {
    font-family: 'Reenie Beanie';
    font-size: 4.5rem;
}

.menu .logo-toggle {
    display: none;
}

.nav-bar .nav-links {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.nav-bar .nav-links li {
    margin: 0 1rem;
}

.nav-links li a {
    position: relative;
    padding: 1rem;
}


svg {
    width: 30px;
    height: auto;
}

.icons a {
    padding: 0 0.5rem;
}

.nav-icons {
    display: flex;
    align-items: center;
}

.user,
.bag,
.burger {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
}

@media (min-width: 1000px) {
    .nav-bar {
        padding: 0 5rem;
    }
}

@media (max-width: 780px) {

    nav .sidebar-open {
    display: block;
    }

    .menu {
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        padding: 20px;
        top: 0;
        background: var(--secondary);
        z-index: 10;
        transition: all 0.4s ease;
    }

    .sidebar-open {
        cursor: pointer;
        display: none;
    }

    nav.active .menu {
        left: 0;
    }

    .menu .logo-toggle {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .sidebar-close {
        font-size: 2rem;
        cursor: pointer;
    }

    .nav-bar .nav-links {
        flex-direction: column;
        padding-top: 60px;
    }

    .nav-links li a {
        display: block;
        margin-top: 30px;
    }
}